@media screen and (min-width: 700px) {

    main {
        max-width: 850px;
        margin: 2rem auto;
    }

    form {
        padding: 2rem;
    }

    fieldset {
        padding: 1.5rem;
    }

    .rating {
        justify-content: flex-start;
        gap: 1.5rem;
    }

    .rating label {
        font-size: 1.7rem;
    }

    input[type="submit"] {
        width: 50%;
        display: block;
        margin: 1rem auto 0;
    }

    .confirmation section {
        padding: 3rem;
    }